@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="right menu">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "item" }))
        {
            @Html.AntiForgeryToken()

            <div class="item">

                <button class="ui active button" onclick="location.href='@Url.Action("Index","Manage")'" type="button">
                    <i class="icon user"></i>
                    @User.Identity.GetUserName()
                </button>
            </div>

            <div class="item">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="ui primary button">Log off</a>
            </div>
        }
    </div>
}
else
{
    RouteValueDictionary routeValueDic = new RouteValueDictionary(ViewContext.RouteData.Values);
    foreach (string key in Request.QueryString.Keys)
    {
        routeValueDic[key] = Request.QueryString[key].ToString();
    }

    string returnURL = Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                      ViewContext.RouteData.Values["controller"].ToString(),
                      routeValueDic);

    <div class="right menu">
        <div class="item">
            @Html.ActionLink("Log in", "Login", "Account",
           new { @returnUrl = returnURL },
           htmlAttributes: new { @class = "ui primary button" })
        </div>
        <div class="item">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "ui  button" })
        </div>
    </div>
}
