@model MovieRecommender.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title (@User.Identity.Name)</h2>

@if (Model.HasPassword)
{
    @Html.ActionLink("Change your password", "ChangePassword")
}

<h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Liked movies
</h4>

<div class="ui relaxed list">

    @foreach (var likedMovie in Model.LikedMovies)
    {
        <div class="item">
            <div class="content">
                <a class="header" href="@Url.Action("Details","Movie", new { imdbId = @likedMovie.IMDbId })">@likedMovie.Title</a>
                <div class="description">@likedMovie.LikedDateTime.ToString("MMM ddd d HH:mm yyyy") </div>
            </div>
        </div>
    }

</div>
