@model MovieRecommender.Models.MoviePreviewModel
@{
    ViewBag.Title = "Movies";
}


@Html.Partial("SearchMoviePartial")

<div class="ui celled grid">

    @foreach (var moviePreview in Model.MoviePreviews)
    {
        <div class="row">
            <!-- Image column -->
            <div class="five wide column">
                <img alt="Film poster" src="@Url.Content(moviePreview.ImageURI)" />
                <a href="http://www.imdb.com/title/@moviePreview.IMDBId" target="_blank">IMDb link</a>
            </div>

            <!-- Film info column -->
            <div class="ten wide column">
                <div class="ui grid">

                    <!-- Overview -->
                    <div class="row">
                        <div class="wide row">
                            <div class="ui medium header">@moviePreview.Title</div>
                            <div class="ui grid">
                                <div class="twelve wide column">
                                    <div class="ui star rating" data-rating=@Math.Floor(moviePreview.Rating).ToString()>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    @moviePreview.Rating
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Genres -->
                    <div class="row">
                        <div class="ui small header">
                            Genres
                            @foreach (string genre in moviePreview.Genres)
                            {
                                <button class="tiny ui button">@genre</button>
                            }
                        </div>

                    </div>

                    <!-- Overview -->
                    <div class="row">
                        <div class="wide row">
                            <div class="ui small header">Overview</div>
                            <p>@moviePreview.Overview</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

</div>

<script>
    $('.rating')
      .rating({

          initialRating: 5,
          maxRating: 10,
          interactive: false
      })
    ;
</script>








