@model MovieRecommender.Models.ColdStartModel

<div class="ui one column stackable center aligned page grid">
    <div class="column">
        <h3>Please like at least 10 films to enable recommendation feature.</h3>
    </div>
</div>

@foreach (var genreModel in Model.MoviesDic)
{
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        @genreModel.Key
    </h4>

    <div class="ui six column grid">
        @foreach (var suggestion in @genreModel.Value.Take(6))
        {
            <div class="column">

                <div class="ui card" name="interestContainer">
                    <a class="ui image" href="@Url.Action("Details","Movie", new { imdbId = @suggestion.IMDBId })" target="_blank">
                        <img src="@suggestion.ImageURI">
                    </a>
                    <div class="content">
                        <div class="header">@suggestion.Title</div>
                    </div>
                    <div class="extra">
                        <strong>Rating: @suggestion.Rating</strong>
                        <div class="ui star rating" data-rating="@Math.Floor(@suggestion.Rating).ToString()"></div>
                    </div>

                    <div class="ui one bottom attached buttons" name="likeContainer">
                        <div name="likeButton" movieId="@suggestion.IMDBId" likeText="Like" likedText="Liked"></div>
                    </div>
                </div>

                <div class="ui popup">
                    <div class="header">User Rating</div>
                    <div class="ui star rating" data-rating="3"></div>
                </div>

            </div>
        }
    </div>
}

<div class="ui one column stackable center aligned page grid">
    <div class="column">
        <div class="ui big violet button" id="finishButton">
            Finish
        </div>
    </div>
</div>

<div class="ui small second coupled modal">
    <div class="header">
        Inštrukcie (1/3)
    </div>
    <div class="content">
        <div class="description">
            <h3>1. Uvidíte zoznam populárnych filmov z rôznych žánrov, označte tie filmy (zelené tlačidlo like), ktoré ste videli a boli ste s nimi celkom spokojný.</h3>
            <h3>2. Musíte označiť minimálne 10 filmov. </h3>
            <h3>3. K druhej časti experimentu sa dostanete tlačidlom Finish na spodu stránky.</h3>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">
            <i class="checkmark icon"></i>
            OK
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/movielike")

<script>

    $('.rating').rating({
        initialRating: 5,
        maxRating: 10,
        interactive: false
    });

    $(document).ready(function () {


        $('.small.modal').modal({ closable: false }).modal('show');

        likeDecorator();

        $('.notinterested')
        .popup({
            inline: true
        });

        $('#finishButton').click(function () {

            var checkObject = { userName: "@User.Identity.Name" };

            $.ajax({
                type: 'GET',
                url: '/Home/CheckLikedMovies',
                data: checkObject,
                contentType: 'application/json',
                error: function (err) {
                    alert("Error finishing cold start form.");
                },
                success: function (data) {

                    if (data.Ok == false) {
                        alert(data.Message);
                    }
                    else {
                        window.location.href = "/Home/Index";
                    }
                }
            });
        });

    });

</script>





