@model MovieRecommender.Models.ColdStartModel

@foreach (var genreModel in Model.MoviesDic)
{
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        @genreModel.Key
    </h4>

    <div class="ui six column grid">
        @foreach (var suggestion in @genreModel.Value.Take(6))
        {
            <div class="column">

                @{
                    var tooltipHTML = "<div class=\"ui card\">" +
                                                "<div class=\"content\">" +
                                                    $"<div class=\"header\">{@suggestion.Title}</div>" +
                                                    $" <div class=\"meta\">Directed by: {@suggestion.Director}</div>" +
                                                    "<div class=\"description\">" +
                                                        $"<p>{@suggestion.Overview}</p>" +
                                                    "</div>" +
                                                "</div>" +
                                            "</div>";
                }

                <div class="ui card" name="interestContainer">
                    <a class="ui image" href="@Url.Action("Details","Movie", new { imdbId = @suggestion.IMDBId })" target="_blank">
                        <div class="movietooltip" data-html="@tooltipHTML" data-position="right center">
                            <img src="@suggestion.ImageURI">
                        </div>

                    </a>
                    <div class="content">
                        <div class="header">@suggestion.Title</div>
                    </div>
                    <div class="extra">
                        <strong>Rating: @suggestion.Rating</strong>
                        <div class="ui star rating" data-rating="@Math.Floor(@suggestion.Rating).ToString()"></div>
                    </div>

                    <div class="ui one bottom attached buttons" name="likeContainer">
                        <div name="likeButton" movieId="@suggestion.IMDBId" likeText="Like" likedText="Liked"></div>
                    </div>
                </div>

                <div class="ui popup">
                    <div class="header">User Rating</div>
                    <div class="ui star rating" data-rating="3"></div>
                </div>

            </div>
        }
    </div>
}

@Scripts.Render("~/bundles/movielike")

<script>

    $('.rating').rating({
        initialRating: 5,
        maxRating: 10,
        interactive: false
    });

    $(document).ready(function () {

        likeDecorator();

        $('.notinterested')
        .popup({
            inline: true
        });

        $('.movietooltip')
        .popup({
            inline: true
        });

    });

</script>





