@model MovieRecommender.Models.HomeRecommendationModel
@{
    ViewBag.Title = "Home Page";
}

@section styles {
    <style>
        .ui.main.container {
            width: 95%;
        }
    </style>
}

@section scripts {

    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
}

@if (Request.IsAuthenticated)
{
    <div class="ui celled grid" id="resultGrid">

        @{ int currentId = 0;}

        @foreach (var moviePreview in Model.RecommendedMovies)
        {
            currentId++;

            <div class="row">
                <!-- Image column -->
                <div class="four wide column">
                    <div class="row">
                        <a href="@Url.Action("Details","Movie", new { imdbId = @moviePreview.IMDBId })" name="movieDetailLink" target="_blank">>
                            <img alt="Film poster" src="@Url.Content(moviePreview.ImageURI)" name="posterURI" class="ui centered medium image" />
                        </a>
                    </div>
                </div>

                <!-- Film info column -->
                <div class="six wide column">
                    <div class="ui grid">

                        <!-- Title -->
                        <div class="eight wide column">
                            <div class="row">
                                <div class="ui medium header" name="movieTitle">@moviePreview.Title</div>
                                <div class="ui grid">
                                    <div class="twelve wide column">
                                        <div class="ui star rating" data-rating=@Math.Floor(moviePreview.Rating).ToString() name="ratingDecimal">
                                        </div>
                                    </div>
                                    <div class="two wide column" name="ratingHolder">
                                        @moviePreview.Rating
                                    </div>
                                </div>

                                <!-- Rating count -->
                                <div class="row">
                                    <div class="ui four column grid">
                                        <div class="wide row">
                                            <div class="wide column"><strong>Ratings</strong></div>
                                            <div class="wide column"><p>@moviePreview.RatingCount</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Genres -->
                        <div class="sixteen wide column">
                            <div class="row">
                                <div class="ui small header" name="genresHolder">
                                    Genres
                                    @foreach (string genre in moviePreview.Genres)
                                    {
                                        <button class="tiny ui button" name="movieGenre">@genre</button>
                                    }
                                </div>

                            </div>
                        </div>

                        <div class="twelve wide column">
                            <!-- Overview -->
                            <div class="row">
                                <div class="wide row">
                                    <div class="ui small header">Overview</div>
                                    <p name="movieOverview">@moviePreview.Overview</p>
                                </div>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="sixteen wide column">
                            <div class="row">

                                <!-- Saw button -->
                                <div class="ui green button" movieId="@moviePreview.IMDBId" name="sawButton">
                                    I saw this movie
                                </div>

                                <!-- Explanation button -->
                                <div class="ui violet button" name="likeExplanationButton" movieId="@moviePreview.IMDBId">
                                    I like explanation
                                </div>

                                <!-- Explanation button -->
                                <div class="ui red button" name="dontlikeExplanationButton" movieTitle="@moviePreview.Title">
                                    I dont like explanation
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="six wide column">

                    <div class="row">
                        @if (moviePreview.Explanation.IsSentimental)
                        {
                            <div class="ui small header">Positive reviews from other users :</div>
                        }
                        else
                        {
                            <div class="ui small header">Keywords :</div>
                        }

                    </div>
                    <div class="row">

                        @{ string vizId = "viz" + @currentId; }

                        <div id="@vizId" class="treemapDiv">

                            @foreach (var sh in moviePreview.Explanation.SentimentHolders.Take(5))
                            {
                                <div class="explanationDiv" score="@sh.Score" sentence='@sh.Sentence'></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="ui small second coupled modal">
        <div class="header">
            Inštrukcie (2/2)
        </div>
        <div class="content">
            <div class="description">
                <h3>1. Uvidíte zoznam 15 filmov, ktoré boli pre vás odporučené. </h3>
                <h3>3. Pre každý odporučený film určite, či ste ho už videli a taktiež či by ste si tento film pozreli.</h3>
                <h3>3. V prípade, že ste tento film videli skúste vyhodnotiť, či by ste si tento film pozreli podľa zobrazených informácií o filme.</h3>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button">
                <i class="checkmark icon"></i>
                OK
            </div>
        </div>
    </div>
}
else
{
    <div class="ui internally celled grid">
        <div class="row">
            <div class="four wide column">
                @{ string leftPosterURL = "https://images-na.ssl-images-amazon.com/images/M/MV5BMTUyMTE0ODcxNF5BMl5BanBnXkFtZTgwODE4NDQzNTE@._V1_SY1000_CR0,0,687,1000_AL_.jpg"; }
                <img alt="Mad Max: Fury Road Poster" title="Mad Max: Fury Road Poster" src="@leftPosterURL" itemprop="image">
            </div>
            <div class="eight wide column">

                <div class="ui one column centered grid">
                    <div class="row">
                        <h1 class="ui centered header">Priebeh experimentu</h1>
                    </div>
                </div>
                <div class="ui two column grid">
                    <div class="one wide column">
                    </div>
                    <div class="fifteen column">
                        <div class="row">
                            <div class="ui ordered steps">
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">Registrácia</div>
                                        <div class="description">Vytvorte si účet</div>
                                    </div>
                                </div>
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">Prihlásenie</div>
                                        <div class="description">Prihláste sa s vytvoreným účtom</div>
                                    </div>
                                </div>
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">Začnite</div>
                                        <div class="description">Riadte sa daľšími inštrukciami :)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="four wide column">
                @{ string rightPosterURL = "https://images-na.ssl-images-amazon.com/images/M/MV5BOTJiNDEzOWYtMTVjOC00ZjlmLWE0NGMtZmE1OWVmZDQ2OWJhXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SY1000_SX675_AL_.jpg"; }
                <img alt="Mad Max: Fury Road Poster" title="Mad Max: Fury Road Poster" src="@rightPosterURL" itemprop="image">
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/movielike")

<script>
    $('.rating').rating({
        initialRating: 5,
        maxRating: 10,
        interactive: false
    });

    $(document).ready(function () {

        $('.small.modal').modal('show');

        likeDecorator();
        notInterestedDecorator();

        $(".treemapDiv").each(function (index, element) {

            var dataArray = [];

            $(this).children(".explanationDiv").each(function (index, element) {
                var obj = {
                    "name": $(element).attr('sentence'),
                    "value": parseInt(($(element).attr('score')))
                };
                dataArray.push(obj);
            });

            var colorAttributes = [];

            for (var i = 0; i < dataArray.length; i++) {
                var obj = { "name": dataArray[i].name };

                switch (i) {
                    case 0:
                        obj.hex = "#2e66ff"; 
                        break;
                    case 1:
                        obj.hex = "#4da7fb";
                        break;
                    case 2:
                        obj.hex = "#51ccfb";
                        break;
                    case 3:
                        obj.hex = "#bee2f4";
                        break;
                    case 4:
                        obj.hex = "#ffffff";
                        break;
                }

                colorAttributes.push(obj);
            }

            var modalDiv = $('.ui.modal').first();

            var visualization = d3plus.viz()
                .container("#" + $(this).attr('id'))  // container DIV to hold the visualization
                .data(dataArray)  // data to use with the visualization
                .type("tree_map")   // visualization type
                .id("name")         // key for which our data is unique on
                .size("value")      // sizing of blocks
                .attrs(colorAttributes)
                .color("hex")
                .draw();             // finally, draw the visualization!*/

            modalDiv.modal({

                onHidden: function () {
                    $("#viz").html(''); // why the fuck is this hack needed ?
                }
            }).modal('show');
        });


    });
</script>