@model MovieRecommender.Models.HomeRecommendationModel
@{
    ViewBag.Title = "Home Page";
}

@using MovieRecommender.Extensions

@section styles {
    <style>
        .ui.main.container {
            width: 95%;
        }

        .ui.grid.explanation {
            min-height: 90%;
        }

        #finish-button {
            visibility: hidden;
        }
    </style>
}

@section scripts {

    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
}

@if (Request.IsAuthenticated)
{
    <div class="ui one column stackable center aligned page grid">
        <div class="column">
            <div class="ui horizontal green statistic">
                <div class="value">

                    @{ 
                        string progressMessage;
                        int progressCount;

                        if (Model.MoviesRemainingCount > 0)
                        {
                            progressMessage = "ratings remaining";
                            progressCount = Model.MoviesRemainingCount;
                        }
                        else
                        {
                            progressMessage = "movies rated";
                            progressCount = Model.RatedMoviesCount;
                        }
                    }

                    @progressCount
                </div>
                <div class="label">
                    @progressMessage
                </div>
            </div>
        </div>
    </div>



    <div class="ui celled relaxed grid" id="resultGrid">

        @{ int currentId = 0;}

        @foreach (var moviePreview in Model.RecommendedMovies.Take(10))
        {
            currentId++;

            <div class="row" name="filmHolder">
                <!-- Image column -->
                <div class="four wide column">
                    <div class="row">
                        <img alt="Film poster" src="@Url.Content(moviePreview.ImageURI)" name="posterURI" class="ui centered medium image" />
                        
                        @*
                            <a href="@Url.Action("Details", "Movie", new { imdbId = @moviePreview.IMDBId })" name="movieDetailLink" target="_blank">>
                            </a>
                        *@

                    </div>
                </div>

                <!-- Film info column -->
                <div class="six wide column">
                    <div class="ui grid">

                        <!-- Title -->
                        <div class="eight wide column">
                            <div class="row">
                                <div class="ui medium header" name="movieTitle">@moviePreview.Title</div>
                                <div class="ui grid">
                                    <div class="twelve wide column">
                                        <div class="ui star rating" data-rating=@Math.Floor(moviePreview.Rating).ToString() name="ratingDecimal">
                                        </div>
                                    </div>
                                    <div class="two wide column" name="ratingHolder">
                                        @moviePreview.Rating
                                    </div>
                                </div>

                                <!-- Rating count -->
                                <div class="row">
                                    <div class="ui four column grid">
                                        <div class="wide row">
                                            <div class="wide column"><strong>Ratings</strong></div>
                                            <div class="wide column"><p>@moviePreview.RatingCount</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Genres -->
                        <div class="sixteen wide column">
                            <div class="row">
                                <div class="ui small header" name="genresHolder">
                                    Genres
                                    @foreach (string genre in moviePreview.Genres)
                                    {
                                        <button class="tiny ui button" name="movieGenre">@genre</button>
                                    }
                                </div>

                            </div>
                        </div>

                        <div class="sixteen wide column">
                            <!-- Overview -->
                            <div class="row">
                                <div class="wide row">
                                    <div class="ui small header">Overview</div>
                                    <p name="movieOverview">@moviePreview.Overview</p>
                                </div>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="sixteen wide column">

                            @{ string isSentimentalStr = @moviePreview.Explanation.IsSentimental == true ? "True" : "False"; }

                            <div class="ui buttons" choiceResult="none" isSentimental="@isSentimentalStr" movieId="@moviePreview.IMDBId">
                                <button class="ui violet experiment yes button" choiceValue="saw">I saw this movie</button>
                                <div class="or"></div>
                                <button class="ui green experiment yes button" choiceValue="wouldWatch">I would watch it</button>
                                <div class="or"></div>
                                <button class="ui red experiment no button" choiceValue="wouldNotWatch">I wouldn't watch it</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                        <div class="ui three column grid explanation">
                            <div class="one wide column"></div>
                            <div class="fourteen wide column">
                                <div class="row">
                                    @if (moviePreview.Explanation.IsSentimental)
                                    {
                                        <div class="ui medium header">What others are saying about this film :</div>
                                    }
                                    else
                                    {
                                        <div class="ui medium header">Main keywords :</div>
                                    }

                                </div>
                                <div class="row">
                                        @{ string vizId = "viz" + @currentId; }

                                        <div id="@vizId" class="treemapDiv">

                                            @foreach (var sh in moviePreview.Explanation.ExplanationHolders.Take(5))
                                            {
                                                <div class="explanationDiv" score="@sh.Score" sentence='@sh.Sentence'></div>
                                            }
                                        </div>


                                </div>
                            </div>
                            <div class="one wide column"></div>
                        </div>
                </div>
            </div>
        }
    </div>

    <div class="ui one column stackable center aligned page grid">
        <div class="column">
            <div class="ui big blue button" id="finish-button">
                <div class="content">Finish</div>
            </div>
            <div class="ui big blue button" id="next-button">
                <div class="content">Next</div>
            </div>
        </div>
    </div>

    <div class="ui small modal second coupled" id="instructions">
        <div class="header">
            Inštrukcie (2/3)
        </div>
        <div class="content">
            <div class="description">
                <h3>1. Uvidíte zoznam pre vás odporučených filmov.</h3>
                <h3>2. Pre každý film vyberte jednu z týchto možností :</h3>
                <h3>- film ste uz videli</h3>
                <h3>- film vyzerá zaujímavo a pozreli by ste si ho</h3>
                <h3>- film nevyzerá zaujímavo a nepozreli by ste si ho</h3>
                <h3>3. Ďalšie filmy sa zobrazia po stlačení tlačidla NEXT na spodu stránky.</h3>
                <h3>4. V prípade, že ste ohodnotili dostatočný počet filmov sa na spodu objaví tlačidlo FINISH, ktorým ukončíte túto časť experimentu.</h3>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button">
                <i class="checkmark icon"></i>
                OK
            </div>
        </div>
    </div>

    <div class="ui small test modal" id="almostFinish">
        <div class="header">
            Naozaj ukončiť ?
        </div>
        <div class="content">
            <p>V prípade, že chcete skončiť kliknite na tlačidlo finish.</p>
            <p>Ak máte čas a chuť, môžete pokračovať ďalej a ohodnotiť ďalšie filmy. Budem veľmi vďačný.</p>
        </div>

        <div class="actions">
            <div class="ui positive button">Finish</div>
            <div class="ui cancel violet button">Next movies</div>
        </div>
    </div>

    <div class="ui small test modal" id="finishModal">
        <div class="header">
            (3/3) Vyplnenie krátkeho dotazníka :)
        </div>
        <div class="content">
            <p>Ako poslednú vec vás poprosím vyplniť jednoduchý dotazník s pár otázkami. Kliknite na link nižšie :</p>
            @{
                string userNameEncoded = HttpUtility.UrlEncode(User.Identity.Name); 
                string url = "https://docs.google.com/forms/d/e/1FAIpQLSeCYn--3o2_ypE5r94f3SnVluXrVvxHOtDJORo0_hW8DBo6eQ/viewform?entry.1042920984=" + userNameEncoded;
            }
            <a href="@url" id="google-form-anchor" clicked="False" target="_blank">@url</a>
        </div>

        <div class="actions">
            <div class="ui positive button">OK</div>
        </div>
    </div>
}
else
{
    <div class="ui internally celled grid">
        <div class="row">
            <div class="four wide column">
                @{ string leftPosterURL = "https://images-na.ssl-images-amazon.com/images/M/MV5BMTUyMTE0ODcxNF5BMl5BanBnXkFtZTgwODE4NDQzNTE@._V1_SY1000_CR0,0,687,1000_AL_.jpg"; }
                <img alt="Mad Max: Fury Road Poster" title="Mad Max: Fury Road Poster" src="@leftPosterURL" itemprop="image">
            </div>
            <div class="eight wide column">

                <div class="ui one column centered grid">
                    <div class="row">
                        <h1 class="ui centered header">Priebeh experimentu</h1>
                    </div>
                </div>
                <div class="ui two column grid">
                    <div class="one wide column">
                    </div>
                    <div class="fifteen column">
                        <div class="row">
                            <div class="ui ordered steps">
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">Registrácia</div>
                                        <div class="description">Vytvorte si účet</div>
                                    </div>
                                </div>
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">Prihlásenie</div>
                                        <div class="description">Prihláste sa s vytvoreným účtom</div>
                                    </div>
                                </div>
                                <div class="active step">
                                    <div class="content">
                                        <div class="title">Začnite</div>
                                        <div class="description">Riadte sa daľšími inštrukciami :)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="four wide column">
                @{ string rightPosterURL = "https://images-na.ssl-images-amazon.com/images/M/MV5BOTJiNDEzOWYtMTVjOC00ZjlmLWE0NGMtZmE1OWVmZDQ2OWJhXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SY1000_SX675_AL_.jpg"; }
                <img alt="Mad Max: Fury Road Poster" title="Mad Max: Fury Road Poster" src="@rightPosterURL" itemprop="image">
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/movielike")

<script>

    var sendRatedMovies = function(isFinish) {

        var experimentModel = {
            'WatchedChoice': [],
            'WouldWatchChoice': [],
            'WouldNotWatchChoice': [],
        };

        $('body').find("div[choiceResult]").each(function () {

            var movieid = $(this).attr('movieId');
            var choiceResult = $(this).attr('choiceResult');
            var isSentimental = $(this).attr('isSentimental') === 'True' ? true : false;

            var choiceObj = {
                                IMDBID: movieid,
                                IsSentiment: isSentimental,
                            };

            if (choiceResult === 'saw')
            {
                experimentModel.WatchedChoice.push(choiceObj);
            }
            else if (choiceResult === 'wouldWatch')
            {
                experimentModel.WouldWatchChoice.push(choiceObj);
            }
            else if (choiceResult === 'wouldNotWatch')
            {
                experimentModel.WouldNotWatchChoice.push(choiceObj);
            }
        });

        var postModel = JSON.stringify({ model: experimentModel });

        $.ajax({
            type: 'POST',
            url: '/Home/ExperimentHandler',
            data: postModel,
            contentType: 'application/json',
            error: function (err) {
                alert("Error while processing experiment data.");
            },
            success: function (data) {

                if (isFinish == true)
                {
                    $('#almostFinish').modal({
                        closable: false,
                        onApprove: function () { // finish

                            $('#finishModal').modal({
                                closable: false,
                                onApprove: function () {

                                    if ($("#google-form-anchor").attr('clicked') !== 'True')
                                    {
                                        alert('You must click on google form link first !');
                                        return false;
                                    }

                                    window.location.href = "/Movie/Browse";
                                }
                            }).modal('show');
                        },
                        onDeny: function () { // next movies
                            window.location.href = "/Home/Index";
                        }
                    }).modal('show');
                }
                else
                {
                    window.location.href = "/Home/Index";
                }
            }
        });
    };

    $('.ui.button.experiment').click(function () {

        var ratedCount = $('body').find("div[choiceResult='wouldWatch']").length - $('body').find("div[choiceResult='wouldNotWatch']").length;

        if ($(this).attr('choiceResult') !== 'saw')
            ratedCount++;

        var moviesRemainingToRate =  @Model.MoviesRemainingCount;

        if (ratedCount >= moviesRemainingToRate)
        {
            document.getElementById("finish-button").style.visibility = 'visible';
        }

        var prevFilmHolder = $(this).parents("div[name='filmHolder']").prev();

        if (prevFilmHolder.length > 0)
        {
            if (prevFilmHolder.find("div[choiceResult='none']").length > 0)
            {
                alert("You didn't select any choice from previous movie");
                return;
            }
        }

        // Add border to selected button
        $(this).siblings('.ui.button.experiment').css("border", "none");
        $(this).css("border", "3px solid black");

        var choiceVal = $(this).attr('choiceValue');
        var parentEle = $(this).parent("div[choiceResult]");

        parentEle.attr('choiceResult', choiceVal);
    });

    $("#finish-button").click(function () {

        var notRatedFormMoviesCount = $('body').find("div[choiceResult='none']").length;

        // user must rate all movies in form to finish
        if (notRatedFormMoviesCount > 0)
        {
            alert('Not all movies rated yet !');
            return;
        }

        sendRatedMovies(true);
    });

    $("#next-button").click(function () {

        var notRatedFormMoviesCount = $('body').find("div[choiceResult='none']").length;

        // user must rate all movies in form to finish
        if (notRatedFormMoviesCount > 0)
        {
            alert('Not all movies rated yet !');
            return;
        }

        sendRatedMovies(false);
    });

    $("#google-form-anchor").click(function () {
        $(this).attr('clicked', 'True');
    });


    $('.rating').rating({
        initialRating: 5,
        maxRating: 10,
        interactive: false
    });

    $(document).ready(function () {

        var isExperimentDone = "@User.Identity.IsExperimentDone()";
        var isExperimentInProgress = "@User.Identity.IsExperimentInPogress()";

        if (isExperimentDone !== "True" && isExperimentInProgress !== "True")
        {
            $('#instructions').modal({closable: false}).modal('show');
        }

        $(".treemapDiv").each(function (index, element) {

            var dataArray = [];

            $(this).children(".explanationDiv").each(function (index, element) {
                var obj = {
                    "name": $(element).attr('sentence'),
                    "value": parseInt(($(element).attr('score')))
                };
                dataArray.push(obj);
            });

            var colorAttributes = [];

            // http://colorsafe.co
            for (var i = 0; i < dataArray.length; i++) {
                var obj = { "name": dataArray[i].name };

                switch (i) {
                    case 0:
                        obj.hex = "#1c2a43";
                        break;
                    case 1:
                        obj.hex = "#16405b";
                        break;
                    case 2:
                        obj.hex = "#3a539b";
                        break;
                    case 3:
                        obj.hex = "#008080";
                        break;
                    case 4:
                        obj.hex = "#4183d7";
                        break;
                }

                colorAttributes.push(obj);
            }

            var modalDiv = $('.ui.modal').first();

            // https://github.com/alexandersimoes/d3plus/wiki/Visualizations

            var visualization = d3plus.viz()
                .container("#" + $(this).attr('id'))  // container DIV to hold the visualization
                .data(dataArray)  // data to use with the visualization
                .type("tree_map")   // visualization type
                .id("name")         // key for which our data is unique on
                .size("value")      // sizing of blocks
                .attrs(colorAttributes)
                .color("hex")
                .labels({ "resize": false, "font": { "size": 20 } })
                .legend({ "value": false })
                .draw();             // finally, draw the visualization!*/
        });


    });
</script>