@model MovieRecommender.Models.HomeRecommendationModel
@{
    ViewBag.Title = "Home Page";
}

@section styles {
    <style>
        .ui.main.container {
            width: 95%;
        }

        .treemapDiv{
            height: 500px;
        }
    </style>
}

@section scripts {

    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
}

@if (Request.IsAuthenticated)
{
    <div class="ui celled grid" id="resultGrid">

        @{ int currentId = 0;}

        @foreach (var moviePreview in Model.RecommendedMovies)
        {
            currentId++;

            <div class="row">
                <!-- Image column -->
                <div class="four wide column">
                    <div class="row">
                        <a href="@Url.Action("Details","Movie", new { imdbId = @moviePreview.IMDBId })" name="movieDetailLink">
                            <img alt="Film poster" src="@Url.Content(moviePreview.ImageURI)" name="posterURI" class="ui centered medium image" />
                        </a>
                    </div>
                </div>

                <!-- Film info column -->
                <div class="six wide column">
                    <div class="ui grid">

                        <!-- Title -->
                        <div class="eight wide column">
                            <div class="row">
                                <div class="ui medium header" name="movieTitle">@moviePreview.Title</div>
                                <div class="ui grid">
                                    <div class="twelve wide column">
                                        <div class="ui star rating" data-rating=@Math.Floor(moviePreview.Rating).ToString() name="ratingDecimal">
                                        </div>
                                    </div>
                                    <div class="two wide column" name="ratingHolder">
                                        @moviePreview.Rating
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Genres -->
                        <div class="sixteen wide column">
                            <div class="row">
                                <div class="ui small header" name="genresHolder">
                                    Genres
                                    @foreach (string genre in moviePreview.Genres)
                                    {
                                        <button class="tiny ui button" name="movieGenre">@genre</button>
                                    }
                                </div>

                            </div>
                        </div>

                        <div class="twelve wide column">
                            <!-- Overview -->
                            <div class="row">
                                <div class="wide row">
                                    <div class="ui small header">Overview</div>
                                    <p name="movieOverview">@moviePreview.Overview</p>
                                </div>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="sixteen wide column">
                            <div class="row">

                                <!-- Saw button -->
                                <div class="ui green button" movieId="@moviePreview.IMDBId" name="sawButton">
                                    I saw this movie
                                </div>

                                <!-- Explanation button -->
                                <div class="ui violet button" name="likeExplanationButton" movieId="@moviePreview.IMDBId">
                                    I like explanation
                                </div>

                                <!-- Explanation button -->
                                <div class="ui red button" name="dontlikeExplanationButton" movieTitle="@moviePreview.Title">
                                    I dont like explanation
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="six wide column">
                    <div class="row">
                        @{ string vizId = "viz" + @currentId; }

                        <div id="@vizId" class="treemapDiv">
                            @foreach (var sh in moviePreview.Explanation.SentimentHolders.Take(5))
                            {
                                <div class="explanationDiv" score="@sh.Score" sentence='@sh.Sentence'></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="ui container" id="viz"></div>

    <h2> Log in to start :)</h2>
}

@Scripts.Render("~/bundles/movielike")

<script>
    $('.rating').rating({
        initialRating: 5,
        maxRating: 10,
        interactive: false
    });

    $(document).ready(function () {

        likeDecorator();
        notInterestedDecorator();

        $(".treemapDiv").each(function (index, element) {

            var dataArray = [];

            $(this).children(".explanationDiv").each(function (index, element) {
                var obj = {
                    "name": $(element).attr('sentence'),
                    "value": parseInt(($(element).attr('score')))
                };
                dataArray.push(obj);
            });

            var colorAttributes = [];

            for (var i = 0; i < dataArray.length; i++) {
                var obj = { "name": dataArray[i].name };

                switch (i) {
                    case 0:
                        obj.hex = "#237C4E";
                        break;
                    case 1:
                        obj.hex = "#75BB7D";
                        break;
                    case 2:
                        obj.hex = "#96D696";
                        break;
                    case 3:
                        obj.hex = "#C3F0A9";
                        break;
                    case 4:
                        obj.hex = "#D6FCC2";
                        break;
                }

                colorAttributes.push(obj);
            }

            var modalDiv = $('.ui.modal').first();

            var visualization = d3plus.viz()
                .container("#" + $(this).attr('id'))  // container DIV to hold the visualization
                .data(dataArray)  // data to use with the visualization
                .type("tree_map")   // visualization type
                .id("name")         // key for which our data is unique on
                .size("value")      // sizing of blocks
                .attrs(colorAttributes)
                .color("hex")
                .draw();             // finally, draw the visualization!*/

            modalDiv.modal({

                onHidden: function () {
                    $("#viz").html(''); // why the fuck is this hack needed ?
                }
            }).modal('show');
        });


    });
</script>